@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,500;1,500&family=Oranienbaum&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Romanovsky";
  src: url(../../../fonts/romanovsky.woff2);
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Raleway", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.options {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 12px;
}

nav {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(77, 74, 153);
}

.sidebar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.header {
  margin-bottom: 20px;
}

.header-block {
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.block-logo {
  text-align: center;
  margin-top: 27px;
}

.block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-image, .section1-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  padding: 5em;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(0.75rem, 0.75vw, 0.75rem);
  background-color: rgb(77, 74, 153);
}
.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 200px;
  width: 100%;
  max-width: 1100px;
}
.footer-item {
  display: grid;
  gap: 20px;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
  grid-template-columns: repeat(3, 1fr);
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  width: 100%;
  max-width: 1100px;
}

.vector {
  width: 100%;
  height: 100%;
  max-width: 170px;
  max-height: 50px;
}

.container-of-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-of-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.input-email {
  outline: none;
  border: none;
  width: 100%;
  max-width: 200px;
  padding: 10px 10px 10px 15px;
}
.input-email::-webkit-input-placeholder {
  color: rgb(77, 74, 153);
}
.input-email::-moz-placeholder {
  color: rgb(77, 74, 153);
}
.input-email:-ms-input-placeholder {
  color: rgb(77, 74, 153);
}
.input-email::-ms-input-placeholder {
  color: rgb(77, 74, 153);
}
.input-email::placeholder {
  color: rgb(77, 74, 153);
}

.text-of-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1100px;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.submit {
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
  border: none;
  outline: none;
}

.for-flex-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.footer-items {
  text-decoration: none;
  color: #fff;
}

.send-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

label, .checkbox1, .open_sidebar, .close_sidebar, .options1 {
  display: none;
}

@media (min-width: 480px) and (max-width: 1000px) {
  nav {
    padding: 1.3em;
  }
  label, .checkbox2,
  .close-sidebar, .open-sidebar {
    display: block;
  }
  .options {
    display: none;
  }
  .options1 {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: rgb(77, 74, 153);
  }
  .sidebar-container {
    gap: 30px;
    background-color: rgb(187, 176, 206);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    padding: 30px 35px;
    width: 300px;
    height: 100%;
    -webkit-transition: 0.75s ease;
    transition: 0.75s ease;
  }
  #checkbox:checked ~ #overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4274509804);
  }
  #checkbox:checked ~ .sidebar-container {
    left: 0;
  }
  .checkbox1,
  .close-sidebar,
  .open-sidebar {
    display: block;
  }
  .options2 {
    padding-top: 5px;
  }
  .options1 {
    font-weight: 400;
  }
  .checkbox2 {
    margin-right: auto;
  }
  .checkbox1 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  nav {
    padding: 1.3em;
  }
  label, .checkbox2,
  .close-sidebar,
  .open-sidebar {
    display: block;
  }
  .options {
    display: none;
  }
  .options1 {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: rgb(77, 74, 153);
  }
  .sidebar-container {
    gap: 30px;
    background-color: rgb(187, 176, 206);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    padding: 30px 35px;
    width: 250px;
    height: 100%;
    -webkit-transition: 0.75s ease;
    transition: 0.75s ease;
  }
  #checkbox:checked ~ #overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4274509804);
  }
  #checkbox:checked ~ .sidebar-container {
    left: 0;
  }
  .checkbox1,
  .close-sidebar,
  .open-sidebar {
    display: block;
  }
  .options2 {
    padding-top: 5px;
  }
  .options1 {
    font-weight: 400;
  }
  .checkbox2 {
    margin-right: auto;
  }
  .checkbox1 {
    display: none;
  }
}
.section1 {
  margin-top: 180px;
}
.image {
  width: 100%;
  max-width: 220px;
  height: 100%;
  max-height: 400px;
}

.section1-img {
  width: 100%;
  max-width: 220px;
  height: 100%;
  max-height: 440px;
}

.head3 {
  font-family: "Romanovsky";
  margin-bottom: 80px;
  text-align: center;
  color: rgb(77, 74, 153);
  font-weight: 500;
  font-size: clamp(1.35rem, 1.35vw, 1.35rem);
  padding-top: 10px;
  line-height: 140%;
  width: 100%;
}

.form {
  text-align: center;
  width: 100%;
}

.choose {
  font-family: "Romanovsky";
  cursor: pointer;
  padding: 18px 30px;
  width: 100%;
  max-width: 300px;
  font-size: clamp(1.25rem, 1.25vw, 1.25rem);
  border: none;
  outline: none;
  background-color: rgb(77, 74, 153);
  margin-top: 90px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.choose:hover {
  background-color: rgb(47, 44, 112);
  color: rgb(255, 255, 255);
}

.head2 {
  font-family: "Romanovsky";
  text-align: center;
  color: rgb(77, 74, 153);
  font-weight: 500;
  font-size: clamp(2.75rem, 2.75vw, 2.75rem);
}

.head-of-image {
  font-family: "Romanovsky";
  font-weight: 500;
  font-size: clamp(1.25rem, 1.25vw, 1.25rem);
  padding-top: 40px;
  line-height: 140%;
  color: rgb(77, 74, 153);
}

.section1-list {
  margin-right: 20px;
  width: 100%;
  max-width: 220px;
  text-align: center;
}

.body-text {
  font-size: clamp(0.875rem, 0.875vw, 0.875rem);
  line-height: 140%;
  padding-top: 8px;
  color: rgb(77, 74, 153);
  font-weight: 300;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.border-h4, .border1-h4 {
  background-color: rgb(187, 176, 206);
  color: #fff;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-family: "Romanovsky";
  font-size: clamp(1.25rem, 1.25vw, 1.25rem);
}

.border-img1 {
  width: 100%;
  max-width: 940px;
  height: 100%;
  max-height: 300px;
}

.border-img2 {
  width: 100%;
  max-width: 540px;
  height: 100%;
  max-height: 300px;
}

.border-img3 {
  width: 100%;
  max-width: 380px;
  height: 100%;
  max-height: 300px;
}

.border1-h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.border-h4 {
  margin-bottom: 20px;
}

.block-border1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.border-img {
  padding-top: 20px;
}

.container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
}

.block-for-gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.of-img {
  width: 100%;
  max-width: 460px;
  height: 100%;
  max-height: 252px;
}

.of-img-h4 {
  font-family: "Romanovsky";
  color: rgb(77, 74, 153);
  font-weight: 500;
  padding-top: 20px;
  font-size: clamp(1.25rem, 1.25vw, 1.25rem);
  text-align: center;
}

.section4 {
  margin-bottom: 180px;
  margin-top: 180px;
}

.reviews {
  width: 100%;
  max-width: 390px;
  background-color: rgb(187, 176, 206);
  padding: 13px 20px 25px 20px;
}

.container-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  width: 100%;
  gap: 20px;
}

.block-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.name-of-review {
  font-family: "Romanovsky";
  color: rgb(77, 74, 153);
  font-weight: 500;
  line-height: 140%;
  font-size: clamp(1.2rem, 1.2vw, 1.2rem);
}

.text-of-review {
  line-height: 140%;
  font-size: clamp(0.875rem, 0.875vw, 0.875rem);
  padding-top: 10px;
  font-weight: 300;
  color: rgb(77, 74, 153);
}

.section5 {
  margin-bottom: 180px;
  text-align: center;
}

.delivery, .recycle, .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.section5-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading4 {
  text-align: start;
  width: 540px;
  padding: 20px;
  font-size: clamp(1.18rem, 1.18vw, 1.18rem);
  font-family: "Romanovsky";
  color: rgb(77, 74, 153);
  font-weight: 500;
  background-color: rgb(187, 176, 206);
}

.section6 {
  margin-bottom: 180px;
}
.section6_body_text {
  color: rgb(77, 74, 153);
  text-decoration: underline;
  margin-bottom: 10px;
  font-weight: 300;
  text-align: end;
  font-size: clamp(0.875rem, 0.875vw, 0.875rem);
}

.section6-body-text {
  margin-left: auto;
  padding-bottom: 10px;
  color: rgb(77, 74, 153);
  font-size: clamp(0.875rem, 0.875vw, 0.875rem);
}

.image-block {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head2-head4 {
  cursor: pointer;
  font-family: "Romanovsky";
  line-height: 140%;
  font-weight: 500;
  color: rgb(77, 74, 153);
  font-size: clamp(1rem, 1vw, 1rem);
}

.block-item {
  gap: 16px;
  margin-left: 30px;
}

.block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.maps {
  margin-left: 30px;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.big-container {
  margin-bottom: 180px;
}

.big-container {
  background-image: url("/images/DSC_8900 3 (1).jpg");
  background-position: center;
  width: 100%;
  background-size: cover;
  height: 630px;
  display: grid;
  place-content: center;
  z-index: 10;
}

.big-heading, .medium-heading {
  font-family: "Romanovsky";
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.some-text {
  text-align: center;
  font-size: clamp(1rem, 1vw, 1rem);
  color: #fff;
  padding-top: 20px;
  line-height: 140%;
  font-weight: 300;
}

.big-heading {
  font-size: clamp(3.2rem, 3.2vw, 3.2rem);
}

.medium-heading {
  padding-top: 16px;
  padding-bottom: 30px;
  line-height: 140%;
  font-size: clamp(1.35rem, 1.35vw, 1.35rem);
}

.headings-block {
  width: 100%;
  max-width: 700px;
}

.choose1 {
  font-family: "Romanovsky";
  cursor: pointer;
  padding: 18px 30px;
  width: 100%;
  max-width: 300px;
  font-size: clamp(1.25rem, 1.25vw, 1.25rem);
  border: none;
  outline: none;
  background-color: rgb(77, 74, 153);
  font-weight: 400;
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.choose1:hover {
  background-color: rgb(47, 44, 112);
  color: rgb(255, 255, 255);
}

.block-image {
  margin-top: 180px;
  margin-bottom: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block-image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.block-big-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100%;
  gap: 20px;
  aspect-ratio: 32/14.5;
  margin-bottom: 180px;
  margin-top: 180px;
}

.img1 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.block-small-image {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 9/14.5;
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .footer-item {
    display: grid;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
  .footer-list {
    gap: 130px;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .section1-block {
    display: grid;
    grid-template-columns: repeat(2, minmax(220px, 220px));
    gap: 40px;
  }
  .block-border1 {
    display: grid;
    grid-template-columns: repeat(1, minmax(800px, 800px));
  }
  .border-img2, .border-img3, .border-img1 {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 800px;
  }
  .container-reviews {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .image-block {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .block-container {
    margin-top: 40px;
  }
  .maps {
    margin-top: 60px;
  }
  .section6-body-text {
    text-align: center;
    padding-bottom: 10px;
    margin-left: 0;
  }
  .container-img {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 40px;
  }
}