@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;
@use "../../../mixins/placeholders" as *;

.main-block {
    @include mix.flex-everything;
    width: 100%;
}

.section1 {
    padding: 0 2.5rem 0 2.5rem;
    @extend %flex_justify;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
    &-block {
       gap: 20px;
       row-gap: 50px;
       @extend %flex_justify;
    }
}

.head6 {
    font-family: 'Romanovsky';
    text-align: center;
    color: root.$color_main_image;
    font-weight: 500;
    font-size: clamp(2.75rem, 2.75vw, 2.75rem);
}

.head4 {
    display: none;
}

.image {
    width: 100%;
    max-width: 220px;
    height: 100%;
    max-height: 400px;
}

.section1-img {
    width: 100%;
    max-width: 220px;
    height: 100%;
    max-height: 440px;
}

.head3 {
    font-family: 'Romanovsky';
    margin-bottom: 80px;
    text-align: center;
    color: root.$color_main_image;
    font-weight: 500;
    font-size: clamp(1.35rem, 1.35vw, 1.35rem);
    padding-top: 10px;
    line-height: 140%;
    width: 100%;
}

.form {
   text-align: center;
   width: 100%;
}

.choose {
    text-align: center;
    font-family: 'Romanovsky';
    cursor: pointer;
    padding: 16px 30px;
    width: 100%;
    max-width: 315px;
    letter-spacing: 1px;
    font-size: clamp(1.25rem, 1.25vw, 1.25rem);
    border: none;
    outline: none;
    margin-top: 90px;
    background-color: root.$color_main_image;
    font-weight: 400;
    color: root.$font_color_white;
    transition: 0.5s ease;
    &:hover {
        background-color: rgba(47, 44, 112, 1);
        color: rgba(255, 255, 255, 1);
        }
}

.head2 {
    font-family: 'Romanovsky';
    text-align: center;
    color: root.$color_main_image;
    font-weight: 500;
    font-size: clamp(2.75rem, 2.75vw, 2.75rem);
}

.head-of-image {
    font-family: 'Romanovsky';
    font-weight: 500;
    font-size: clamp(1.25rem, 1.25vw, 1.25rem);
    padding-top: 40px;
    line-height: 140%;
    color: root.$color_main_image;
}

.section1-list {
    width: 100%;
    max-width: 220px;
    text-align: center;
}

.head5 {
    display: none;
}

.body-text {
    font-size: clamp(0.875rem, 0.875vw, 0.875rem);
    line-height: 140%;
    padding-top: 8px;
    color: root.$color_main_image;
    font-weight: 300;
}