@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;
@use "../../../mixins/placeholders" as *;

.section2 {
    margin: 0 2em 0 2rem;
    margin-top: 180px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border-h4, .border1-h4 {
    background-color: rgba(187, 176, 206, 1);
    color: root.$font_color_white;
    padding: 10px;
    width: fit-content;
    font-weight: 500;
    font-family: 'Romanovsky';
    font-size: clamp(1.25rem, 1.25vw, 1.25rem);
}


.border-img1 {
    width: 100%;
    max-width: 940px;
    height: 100%;
    max-height: 300px;
}

.border-img2 {
    width: 100%;
    max-width: 540px;
    height: 100%;
    max-height: 300px;
}

.border-img3 {
    width: 100%;
    max-width: 380px;
    height: 100%;
    max-height: 300px;
}

.border1-h4 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.border-h4 {
    margin-bottom: 20px;
}

.block-border1 {
   display: flex;
   gap: 20px;
}

.border-img {
    padding-top: 20px;
}
