@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;
@use "../../../mixins/placeholders" as *;

.section5 {
    margin-bottom: 180px;
    text-align: center;
}

.delivery, .recycle, .payment {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.section5-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.heading4 {
    text-align: start;
    width: 540px;
    padding: 20px;
    font-size: clamp(1.18rem, 1.18vw, 1.18rem);
    font-family: 'Romanovsky';
    color: root.$color_main_image;
    font-weight: root.$font_weight_nb;
    background-color: rgba(187, 176, 206, 1);
}