@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;
@use "../../../mixins/placeholders" as *;

.section3 {
    padding: 0 2rem 0 2rem;
    @include mix.flex-everything;
    margin-bottom: 180px;
    &_body_text {
    color: root.$color_main_image;
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: root.$font_weight_sm;
    text-align: end;
    font-size: clamp(0.875rem, 0.875vw, 0.875rem);
    }
}


.section3-body-text {
    margin-left: auto;
    padding-bottom: 10px;
    color: root.$color_main_image;
    font-size: clamp(0.875rem, 0.875vw, 0.875rem);
}

.section3-delivery {
    width: 100%;
    max-width: 450px;
}

.image-block {
    margin: auto;
    margin-top: 80px;
    width: 100%;
    @include mix.flex_justify;
}


.head2 {
    &-head4 {
        cursor: pointer;
        font-family: 'Romanovsky';
        line-height: 140%;
        font-weight: root.$font_weight_nb;
        color: root.$color_main_image;
        font-size: clamp(1rem, 1vw, 1rem);
    }
}


.block-item {
    @extend %flex_align;
    gap: 16px;
    margin-left: 30px;
}

.block-container {
 @include mix.flex_direction;
 flex: 1;
 gap: 16px;
}

.maps {
    margin-left: 30px;
    width: 100%;
    max-width: 460px;
    margin-top: auto;
    @include mix.flex_direction;
}