@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;
@use "../../../mixins/placeholders" as *;

.footer {
    @include mix.flex1;
    align-items: center;
    padding: 4em;
    color: root.$font_color_white;
    flex-direction: column;
    font-size: clamp(0.75rem, 0.75vw, 0.75rem);
    background-color: root.$color_main_image;
    &-list {
        @extend %flex_align;
        flex: 1;
        gap: 200px;
        width: 100%;
        max-width: 1100px;
    }
    &-item {
        display: grid;
        gap: 20px;
        column-gap: 160px;
        grid-template-columns: repeat(3, 1fr);
    }
    &-container {
        @extend %flex_align;
        margin-top: 60px;
        width: 100%;
        max-width: 1100px;
    }
    }

    .vector2 {
        display: none;
    }

    .vector1 {
    width: 100%;
    height: 100%;
    max-width: 170px;
    max-height: 50px;
    }

    .container-of-form {
        @include mix.flex_direction;
    }

.text-of-email {
    display: flex;
    color: root.$font_color_white;
}


.input-email {
    outline: none;
    border: none;
    width: 100%;
    max-width: 200px;
    padding: 10px 10px 10px 15px;
    &::placeholder {
    color: root.$color_main_image;
    }
}

.text-of-input {
    display: flex;
}


.logo-block {
    display: flex;
}

.form-email {
    @include mix.flex_direction;
    width: 100%;
    max-width: 1100px;
}



.input-container {
    display: flex;
    padding-top: 10px;
}

.submit {
    width: 100%;
    height: 100%;
    max-width: 40px;
    max-height: 40px;
    border: none;
    outline: none;
}

.for-flex-direction {
    @extend %flex_align;
    padding-top: 10px;
}


.footer-items {
    text-decoration: none;
    color: root.$font_color_white;
}

.send-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

