@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;
@use "../../../mixins/placeholders" as *;

@media (min-width:1000px) and (max-width:1200px) {
    .footer-item {
        display: grid;
        column-gap: 100px;
    }

    .footer-list {
        gap: 130px;
    }
}

@media (min-width:320px) and (max-width:1200px) {
    .section1-block {
        width: 100%;
        max-width: 700px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .block-border1, .border {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .border1 {
        width: 100%;
        max-width: 700px;
    }

    .block-border1 {
        width: 100%;
        max-width: 700px;
    }

    .border-img1, .border-img2, .border-img3 {
        object-fit: cover;
        width: 100%;
        max-width: 700px;
    }

    .block-border1 {
        gap: 0;
    }

    .container-img {
        flex-wrap: wrap;
        gap: 40px;
    }

    .container-reviews {
        flex-wrap: wrap;
    }

    .image-block {
        flex-wrap: wrap;
    }

    .block-container {
        margin-top: 40px;
    }

    .maps {
        padding-top: 60px;
    }
  
}