@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;
@use "../../../mixins/placeholders" as *;


@media (min-width:320px) and (max-width:480px) {
    .big-container {
        display: none;
    }

    .big-container1 {
        background-image: url('../images/DSC_8900-3-4.jpg');
        display: block;
        background-position: center 80%;
        width: 100%;
        background-size: cover;
        height: 420px;
        display: grid;
        place-items: center;
        padding: 1em;
        z-index: 10;
    }

    .big-heading1,
    .medium-heading1 {
        font-family: 'Romanovsky';
        text-align: center;
        color: root.$font_color_white;
        font-weight: 400;
    }

    .block-container {
        width: 100%;
    }

    .headings-block1 {
        padding: 1.45em 1em;
        background-color: rgba(0, 0, 0, 0.15);
        border: 0.5px solid rgba(237, 234, 244, 1);
        width: 100%;
        height: 100%;
        max-width: 265px;
        backdrop-filter: blur(1em);
        z-index: 9;
    }
    

    .big-heading1 {
        font-size: clamp(1.48rem, 1.48vw, 1.48rem);
        line-height: 1.25;
    }

    .border-h4,
    .border1-h4 {
        font-size: clamp(1rem, 1vw, 1rem);
    }

    .block-image-container {
        gap: 5px;
    }

    .head-of-image {
        font-size: clamp(1rem, 1rem, 1rem);
    }

    .body-text {
        font-size: clamp(0.75rem, 0.75vw, 0.75rem);
    }

    .head2 {
        font-size: clamp(1.6rem, 1.6vw, 1.6rem);
    }

    .of-img-h4 {
        font-size: clamp(0.9rem, 0.9vw, 0.9rem);
    }

    .head3 {
        font-size: clamp(0.8rem, 0.8vw, 0.8rem);
    }

    .head6 {
        font-size: clamp(1.8rem, 1.8vw, 1.8rem);
    }

    .section3-delivery, .block-container {
        width: 100%;
    }

    .image-block {
        display: flex;
        flex-wrap: wrap;
    }

    .head2-head4 {
        font-size: clamp(0.8rem, 0.8vw, 0.8rem);
    }

    .section3-body-text {
        margin-left: 0;
        margin: auto;
        font-size: clamp(0.8rem, 0.8vw, 0.8rem);
    }

    .medium-heading1 {
        padding-top: 16px;
        line-height: 140%;
        font-size: clamp(0.9rem, 0.9vw, 0.9rem);
    }

    .image-for-mobile,
    .section1-img-mobile,
    .section1-list {
        width: 100%;
        max-width: 220px;
        }

    .choose {
        width: 100%;
        max-width: 265px;
        font-size: clamp(1.05rem, 1.05vw, 1.05rem);
        padding: 13px 10px;
    }
        
 
    .vector1 {
        max-width: 120px;
    }

    .some-text1 {
        text-align: center;
        font-size: clamp(0.6rem, 0.6vw, 0.6rem);
        color: root.$font_color_white;
        padding-top: 20px;
        line-height: 1.3;
        font-weight: root.$font_weight_sm;
    }

    .choose2 {
        display: block;
        font-family: 'Romanovsky';
        cursor: pointer;
        letter-spacing: 1.5px;
        padding: 13px 10px;
        width: 100%;
        font-size: clamp(1rem, 1vw, 1em);
        border: none;
        outline: none;
        margin-top: 50px;
        background-color: root.$color_main_image;
        font-weight: 400;
        color: root.$font_color_white;
        transition: 0.5s ease;

        &:hover {
            background-color: rgba(47, 44, 112, 1);
            color: rgba(255, 255, 255, 1);
        }
    }
    }

