@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;
@use "../../../mixins/placeholders" as *;

@media (min-width:1000px) and (max-width:1200px) {
    .footer-list {
        gap: 130px;
    }

    .footer-item {
        column-gap: 90px;
    }
}

@media (min-width:320px) and (max-width:1050px) {
    .section3-delivery, .block-container {
        max-width: 500px;
    }

}

@media (min-width:320px) and (max-width:1000px) {
    .footer-list {
        display: grid;
        grid-template-columns: repeat(1, minmax(10px, 1fr));
        gap: 50px;
    }

    .footer-item {
        display: grid;
        grid-template-columns: repeat(1, minmax(80px, 1fr));
        column-gap: 0px;
    }
}

