@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;
@use "../../../mixins/placeholders" as *;

@media (min-width:480px) and (max-width:768px) {
    .big-container {
        display: none;
    }

    .big-container1 {
        background-image: url('/images/DSC_8900\ 3\ \(2\).jpg');
        display: block;
        background-position: center 75%;
        width: 100%;
        background-size: cover;
        height: 480px;
        display: grid;
        padding: 1.5em;
        place-content: center;
        z-index: 10;
    }

    .big-heading1,
    .medium-heading1 {
        font-family: 'Romanovsky';
        text-align: center;
        color: root.$font_color_white;
        font-weight: 400;
    }

    .block-container {
        width: 100%;
        max-width: 500px;
    }

    .headings-block1 {
        padding: 1.5em 1em;
        background-color: rgba(0, 0, 0, 0.15);
        border: 0.5px solid rgba(237, 234, 244, 1);
        width: 100%;
        max-width: 300px;
        backdrop-filter: blur(1em);
        z-index: 9;
    }

    .of-img {
        max-width: 350px;
    }

    .form,
    .some-text1 {
        display: grid;
        place-items: center;
    }

    .big-heading1 {
        font-size: clamp(1.6rem, 1.6vw, 1.6rem);
        line-height: 1.25;
    }

    .section1-block {
        display: flex;
        flex-wrap: wrap;
    }

    .section1-img,
    .image {
        display: none;
    }

    .section1-img-mobile,
    .image-for-mobile {
        display: block;
    }

    .border-img1-for-mobile {
        display: block;
        width: 100%;
        max-width: 450px;
    }

    .border-img2,
    .border-img1,
    .border-img3 {
        display: none;
    }

    .block-border1 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .block-big-image {
        gap: 5px;
    }

    .container-img {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .border-h4,
    .border1-h4 {
        width: 100%;
        text-align: center;
        font-size: clamp(1rem, 1vw, 1rem);
    }


    .head-of-image {
        font-size: clamp(1.15rem, 1.15vw, 1.15rem);
    }

          .body-text {
              font-size: clamp(0.8rem, 0.8vw, 0.8rem);
          }

    .block-image-container,
    .block-small-image {
        gap: 5px;
    }


    .image-for-mobile,
    .section1-img-mobile {
        width: 100%;
        max-width: 300px;
    }

    .head2 {
        font-size: clamp(1.85rem, 1.85vw, 1.85rem);
    }

    .of-img-h4 {
        font-size: clamp(1rem, 1vw, 1rem);
    }

    .head5 {
        display: none;
    }

    .head3 {
        font-size: clamp(1rem, 1vw, 1rem);
    }

    .head6 {
        font-size: clamp(1.85rem, 1.85vw, 1.85rem);
    }

    .head4 {
        display: block;
        font-family: 'Romanovsky';
        text-align: center;
        color: root.$color_main_image;
        font-weight: 500;
        padding-top: 10px;
        line-height: 1.2;
        width: 100%;
        font-size: clamp(1.65rem, 1.65vw, 1.65em);
    }

    .image-block {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .maps {
        padding-top: 60px;
    }

    .block-item,
    .maps {
        margin-left: 0;
    }

    .head2-head4 {
        font-size: clamp(0.875rem, 0.875vw, 0.875rem);
    }

    iframe {
        width: 100%;
    }

    .section4-delivery {
        width: 100%;
        max-width: 400px;
    }

    .block-container {
        padding-top: 40px;
        width: 100%;
        max-width: 400px;
    }

    .footer {
        padding: 4em 3em;
    }

    .section4-body-text {
        margin-left: 0;
        margin: auto;
        font-size: clamp(0.85rem, 0.85vw, 0.85rem);
    }

    .footer-list,
    .footer-item {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer-list {
        gap: 60px;
    }

    .medium-heading1 {
        padding-top: 16px;
        line-height: 140%;
        font-size: clamp(1rem, 1vw, 1rem);
    }

    .section1-list {
        max-width: 300px;
    }

    .big-container-img1 {
        display: block;
        @include mix.flex_everything;
    }

    .choose2 {
        display: block;
        font-family: 'Romanovsky';
        cursor: pointer;
        padding: 15px 30px;
        width: 100%;
        font-size: clamp(1.05rem, 1.05vw, 1.05em);
        border: none;
        outline: none;
        margin-top: 60px;
        background-color: root.$color_main_image;
        font-weight: 400;
        color: root.$font_color_white;
        transition: 0.5s ease;

        &:hover {
            background-color: rgba(47, 44, 112, 1);
            color: rgba(255, 255, 255, 1);
        }
    }
}

.choose {
    max-width: 280px;
    font-size: clamp(1.05rem, 1.05vw, 1.05rem);
    padding: 15px 30px;
}

.container-img {
    gap: 40px;
}

.vector1 {
    max-width: 120px;
}

.some-text1 {
    text-align: center;
    font-size: clamp(0.65rem, 0.65vw, 0.65rem);
    color: root.$font_color_white;
    padding-top: 20px;
    line-height: 1.3;
    font-weight: root.$font_weight_sm;
}