@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;
@use "../../../mixins/placeholders" as *;

@media (min-width:320px) and (max-width:480px) {
    .big-container {
        display: none;
    }

    .big-container1 {
        background-image: url('/images/DSC_8900\ 3\ \(2\).jpg');
        display: block;
        background-position: center 80%;
        width: 100%;
        background-size: cover;
        height: 430px;
        display: grid;
        padding: 1em;
        place-content: center;
        z-index: 10;
    }

.big-heading1, .medium-heading1 {
            font-family: 'Romanovsky';
            text-align: center;
            color: root.$font_color_white;
            font-weight: 400;
        }

        .block-container {
            width: 100%;
        }

        .headings-block1 {
            padding: 1.45em 1em;
            background-color: rgba(0, 0, 0, 0.15);
            border: 0.5px solid rgba(237, 234, 244, 1);
            width: 100%;
            height: 100%;
            max-width: 265px;
            backdrop-filter: blur(1em);
            z-index: 9;
        }

        .of-img {
            max-width: 280px;
        }

       .form, .some-text1 {
        display: grid;
        place-items: center;
       }

        .big-heading1 {
            font-size: clamp(1.48rem, 1.48vw, 1.48rem);
            line-height: 1.25;
        }

        .section1-img, .image {
            display: none;
        }

        .section1-block {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr) );
        }

        .section1-img-mobile, .image-for-mobile {
            display: block;
        }

        .border-img1-for-mobile {
            display: block;
            width: 100%;
        }

        .border-img2, .border-img1, .border-img3 {
            display: none;
        }

        .block-border1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }

        .block-big-image {
            gap: 5px;
        }

        .head8 {
            display: none;
        }

        .border-h4, .border1-h4 {
        width: 100%;
        text-align: center;
        font-size: clamp(1rem, 1vw, 1rem);
        }

        .head-of-image {
            font-size: clamp(1rem, 1rem, 1rem);
        }

        .body-text {
            font-size: clamp(0.75rem, 0.75vw, 0.75rem);
        }
        
        .block-image-container, .block-small-image {
            gap: 5px;
        }


        .image-for-mobile, .section1-img-mobile {
            width: 100%;
            max-width: 240px;
        }

        .head2 {
            font-size: clamp(1.65rem, 1.65vw, 1.65rem);
        }

        .of-img-h4 {
            font-size: clamp(0.9rem, 0.9vw, 0.9rem);
        }

        .head3 {
            font-size: clamp(0.825rem, 0.825vw, 0.825rem);
        }
 
        .head6 {
            font-size: clamp(1.65rem, 1.65vw, 1.65rem);
        }

        .head4 {
            display: block;
            font-family: 'Romanovsky';
            text-align: center;
            color: root.$color_main_image;
            font-weight: 500;
            padding-top: 10px;
            line-height: 1.2;
            width: 100%;
            font-size: clamp(1.65rem, 1.65vw, 1.65em);
        }

         .image-block {
             display: grid;
             grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
             place-items: center;
         }
        .maps {
            padding-top: 50px;
        }

        .block-item, .maps {
            margin-left: 0;
        }

        .head2-head4 {
            font-size: clamp(0.875rem, 0.875vw, 0.875rem);
        }

        iframe {
            width: 100%;
        }

        .section3-delivery {
            width: 100%;
        }

        .block-container {
            padding-top: 40px;
            width: 100%;
        }

        .footer {
            padding: 4em 3em;
        }

        .section3-body-text {
            margin-left: 0;
            margin: auto;
            font-size: clamp(0.85rem, 0.85vw, 0.85rem);
        }

        .footer-list {
            gap: 60px;
        }

        .head5 {
            display: block;
        }

        .medium-heading1 {
            padding-top: 16px;
            line-height: 140%;
            font-size: clamp(0.9rem, 0.9vw, 0.9rem);
        }

    .big-container-img1 {
        display: block;
        @include mix.flex_everything;
    }
        .choose {
            width: 100%;
            max-width: 280px;
            font-size: clamp(1.05rem, 1.05vw, 1.05rem);
            padding: 15px 30px;
        }
    
        .container-img {
            gap: 40px;
        }
    
        .vector1 {
            max-width: 120px;
        }
    
        .some-text1 {
            text-align: center;
            font-size: clamp(0.6rem, 0.6vw, 0.6rem);
            color: root.$font_color_white;
            padding-top: 20px;
            line-height: 1.3;
            font-weight: root.$font_weight_sm;
        }

        .section1-list {
            max-width: 240px;
        }

    .choose2 {
        display: block;
        font-family: 'Romanovsky';
        cursor: pointer;
        padding: 13px 30px;
        width: 100%;
        font-size: clamp(1.05rem, 1.05vw, 1.05em);
        border: none;
        outline: none;
        margin-top: 50px;
        background-color: root.$color_main_image;
        font-weight: 400;
        color: root.$font_color_white;
        transition: 0.5s ease;
        &:hover {
            background-color: rgba(47, 44, 112, 1);
            color: rgba(255, 255, 255, 1);
}
}
}

