//font_size
$font_size_sm: 12px;
$font_size_m: 20px;

//weight
$font_weight_n: 400;
$font_weight_sm: 300;
$font_weight_nb: 500;

//color
$font_color_white: #fff;
$color_main_image: rgba(77, 74, 153, 1);
$color_for_small_text: rgba(48, 48, 48, 1);
$background_color_review: rgba(187, 176, 206, 1);