@use "../../../base/root" as root;
@use "../../../mixins/mixins" as mix;

.options {
    color: root.$font_color_white;
    text-decoration: none;
    font-weight: root.$font_weight_sm;
    font-size: 12px;
}

nav {
    padding: 2em;
    @include mix.flex_justify;
    background-color: rgba(77, 74, 153, 1);
}

.sidebar-container {
    display: flex;
    gap: 70px;
}

.header-block {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.header {
    width: 100%;
}

.block-logo {
    text-align: center;
    margin-top: 27px;
    margin-bottom: 20px;
}
